<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  IgnorableNamespaces="uap mp iot uap6">

  <Identity
    Name="6758caigen.201651A0C6721"
    Publisher="CN=07708460-565D-4FD3-A5B6-794971C7C898"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="88c30045-0071-4fd1-8512-8c997d87c5f1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ClipboardOCR</DisplayName>
    <PublisherDisplayName>caigen</PublisherDisplayName>
    <Logo>Assets\ClipboardOCRStoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ScreenToText.App">
      <uap:VisualElements
        DisplayName="ClipboardOCR"
        Square150x150Logo="Assets\ClipboardOCRSquare150x150Logo.png"
        Square44x44Logo="Assets\ClipboardOCRSquare44x44Logo.png"
        Description="ScreenToText"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\ClipboardOCRWide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\ClipboardOCRSplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>